<div>
	<h1>$scope and digest cycle</h1>
	<ul class="vertical-items">
		<li>
			<ul>
				<li><span class="text-red">Digest cycle</span>: loop during which Angular checks if there are 
				any changes to all the variables attached to all the <span class="text-red">$scopes</span>.</li>
				<li>Angular will monitor all changes made on <span class="text-red">$scope</span> properties.</li>
			</ul>		
		</li>
		<li>
			<img src="data/imgs/concepts-runtime.png" width="650" class="back-image">
		</li>
	</ul>
</div>