<div>
	<h1>MVC and $scope</h1>
	<ul class="vertical-items">
		<li>
			<ul>
				<li>The <strong>scope</strong> is the glue between the view and the controller.</li>
				<li>Used to access controller data in your view.</li>
			</ul>			
		</li>
		<li>
			<img src="data/imgs/concepts-controller.png" width="700">
		</li>
		<li>
			<strong>Remark: No more controllers with angular 2</strong>, 
			more info <a href="http://angularjs.blogspot.fr/2014/03/angular-20.html" target="_blank"> here </a>
		</li>
	</ul>
</div>