<article class="k-product-sheet">
	<div class="hproduct k-product">
		<div class="photo-data">
            <!--TODO - set image url-->
			<img class="photo" src="/img/catalog/1.jpg" />
		</div>
		<div class="product-data">
            <!--TODO - SET NAME-->
			<h3 class="fn name">PRODUCT NAME</h3>
			<h4 class="category">
                <!--Todo - SET CATEGORY-->
				<a href="#">CATEGORY</a>
			</h4>

			<!-- TODO: return correct CSS class: rating and zero/one/two/three/four/five -->
			<p class="rating two">
				<a href="#comments">NUMBER OF COMMENTS comment(s)</a>
			</p>
			<p class="description">DESCRIPTION</p>
            <!--TODO - register the quantity-->
			Quantity: <input type="number" class="product-qty"  />
            <br />
			<div class="price-data">
				<strong class="price sale">
                    <!--Todo - total price-->
				</strong>
			</div>
			<div class="buyZone">
				<div class="availability">
					<p>
						<strong>Availability :</strong> immediate delivery
					</p>
				</div>
				<p class="buy">
                    <!--TODO - handler on button-->
					<a href="#/basket">Add to basket</a>
				</p>
			</div>
		</div>
	</div>
</article>