<div class="bloc-content text-content">


    <h1>Setting up your integration tests with Protractor</h1>

    <ul>
        <li><a href="https://github.com/angular/protractor" target=”_blank”>Protractor</a> is the E2E framework test for Angular</li>
        <li> Built on WebdriverJS (aka Selenium Server)</li>
        <li> Has it's own runner, independant of karma</li>
        <li> A lot slower than <strong>karma</strong>, because you have to serve your whole application and interact with it</li>
        <li> As with <strong>karma</strong>, the specific behavior if defined through a configuration file (<i>protractor.conf.js</i> by default)
        <li>
            Quick start:
            <a href="http://angular.github.io/protractor/#/" target="_blank">
            here
            </a>
        </li>
        <li>
            Again, have a look at the project to get a running example of integration with grunt
        </li>        
    </ul>
</div>
