<div class="bloc-content text-content">

	<h1>Wait... Didn't we forget something?</h1>

	<ul>
		<li>
			Javascript is a very permissive language, wich provides a lot of possibilities... 
		</li>
		<li>...But with almost no help from the compiler. Furthermore, js code can be very difficult to maintain.</li>
		<li>For these reasons, you have to provide a <strong>strong set of tests</strong> with 
			any of your javascript application.
		</li>
	</ul>

	<img src="data/imgs/test.jpeg" width="350" />
</p></div>