<div>

	<h1>ngSwitch</h1>

	<ul>
		<li>Conditionally change the DOM structure.</li>
	</ul>
		
	<sdco-editor compile="true">
		<sdco-editor-tab type="html" heading="switch.html">
Switch value: &lt;input type="text" ng-model="switchValue"/&gt;
&lt;div ng-switch="switchValue"&gt;
	&lt;div ng-switch-when="1"&gt;First bloc&lt;/div&gt;
	&lt;div ng-switch-when="2"&gt;Second bloc&lt;/div&gt;
	&lt;div ng-switch-when="3"&gt;Third bloc&lt;/div&gt;
	&lt;div ng-switch-default&gt;Other cases...&lt;/div&gt;
&lt;/div&gt;
		</sdco-editor-tab>
	</sdco-editor>

</div>