<div class="bloc-content text-content">

	<h1>Select</h1>
<ul>
		<li>Angular <i>select</i> directive allows data-binding</li>
		<li>Attribute <i>ngOptions</i> can be used to dynamically to
			generate a list of <i>&lt;option&gt;</i> elements.</li>
	</ul>

	<sdco-editor compile="true"  compile-js-first="true">
    	<sdco-editor-tab type="html" heading="select.html">
&lt;div ng-controller="SelectCtrl"&gt;
    &lt;select ng-model="user" 
    	ng-options="user.name group by user.country for user in users"&gt;
    	&lt;option value=""&gt;-- Choose user --&lt;/option&gt;
    &lt;/select&gt;
    
    Selected: {{user}}
&lt;/div&gt;
		</sdco-editor-tab>
		<sdco-editor-tab type="javascript" heading="select.js">
angular.module('trainingAJ')
.exoController('SelectCtrl', ['$scope', function($scope) {
	$scope.users = [
		{ id: 1, name:'Bob', country:'France'},
		{ id: 2, name:'Bill', country:'England'},
		{ id: 3, name:'Luc', country:'France'},
		{ id: 4, name:'Joe', country:'France'},
		{ id: 5, name:'Matt', country:'Spain'}
	];
}]);
		</sdco-editor-tab>
	</sdco-editor>

</div>

<!-- "user.id as user.name group by user.country for user in users" -->