<div class="bloc-content text-content">

	<h1> How to use a directive </h1>
	<ul>
		<li>
			Directives wrap <strong>HTML fixed behavior</strong>, 
			<strong>CSS</strong> and <strong>JS</strong> into one single element
		</li>
        <li>
        	The <i>AngularJS's HTML compiler</i> checks for directives in the DOM
        	and then apply the specific behavior of this directive
        </li>
        <li>
        To use an existing directive, you just have to add it in the DOM where you
        have to use it
        </li>
	</ul>
		
<sdco-editor compile="false">
<sdco-editor-tab type="html" heading="datepicker.html">
//As an element
&lt;datepicker /&gt;

//As an attribute
&lt;input datepicker /&gt;

//And even as a class... (but not often)
&lt;input class="datepicker" /&gt;</sdco-editor-tab>
</sdco-editor>

</div>