<div>

	<h1>Creating Angular Services</h1>
	<ul>
		<li>There are <strong>5</strong> ways to declare a service. You can register...</li>
		<ul>
			<li>A <strong>provider function</strong> to create the singleton service instance.</li>
			<li>
				A <strong>service factory</strong> and a <strong>factory function</strong>
				which are almost the sames. The syntax differs but both of them are DI compliants. 
				They can't be configured.
			</li>
			<li> An <strong>existing object</strong> as a <strong>value</strong>. </li>
			<li> An <strong>existing object</strong> as a <strong>constant</strong>. </li>
		</ul>
	</ul>
</div>
