<div class="bloc-content text-content">

	<h1>Other Angular Services</h1>

	<ul>
		<li>
			<strong>$log</strong>: Simple service for logging. 
			Writes messages in browser console (<i>info()</i>,
			<i>log()</i>, <i>warn()</i>, <i>error()</i>)
		</li>
		<li>
			<strong>$timeout</strong>: Wrapper for <i>window.setTimeout</i>
		</li>
		<li>
			<strong>$cookies</strong>: Provides read/write access to browser's cookies. 
			Requires module <i>ngCookies</i> (<i>angular-cookies.js</i>).
		</li>
		<li>
			<a href="http://docs.angularjs.org/api/ng/service" target="_blank">... And many more!</a>
		</li>
	</ul>

</div>
