<div>

    <h1>Practical work</h1>

    <ul>
        <li>In the home page of our <i>ecommerce</i> application, we will display all the news added by the webmasters.
            Use the <i>$resource</i> service to manage news. Following functionalities are needed:
            <ol>
                <li>look at server.js to understand the rest api</li>
                <li>List all the news in the <i>table</i> element.</li>
                <li>Displays the news of the day in the bottom panel.</li>
                <ul>
                    <li>First, the selected news will be the one whose <i>id</i> is equals to <i>1</i>.</li>
                    <li>Second, the selected news will be a random one (see server.js)</li>
                </ul>
                <li>You can "like" a news, which will increase the value of its <i>likes</i> property.</li>
                <li>Delete a news.</li>
                <li>Add a news.</li>
            </ol>
        </li>
        <li>Tips:
            <ol>
                <li>look at server.js to understand the rest api</li>
                <li>Use the url <i>/api/news/:operation/:id</i> with your <i>$resource</i> object</i></li>
            </ol>
        </li>

    </ul>
</div>