<div>

    <h1>About $resource</h1>
    <ul>
        <li>$http is perfect to do simple ajax requests, but is not designed for "complex" REST APIs</li>
        <li>not the best choice for interacting with RESTful API</li>
        <li>There are two major actor for now : </li>
        <ul>
            <li>
                <a href="http://docs.angularjs.org/api/ngResource/service/$resource" target="_blank">$resource</a> 
                is a service developed by the Angular core Team</span>
            </li>
            <li>
                <a href="https://github.com/mgonto/restangular" target="_blank">Restangular</a> 
                is an equivalent which bring more features and try to simplify the usage
            </li>
            <li>
                <a href="https://github.com/mgonto/restangular#differences-with-resource" target="_blank">
                Differences between Restangular and $resource
                </a> 
            </li>
        </ul>
    </ul>

</div>
