<div>

	<h1> The service $route </h1>

	<ul>
		<li>Links URLs to controllers and views. Use <i>current</i> property to
			access current route, or <i>routes</i> to get all configured routes.</li>
		<li>Used to handle <strong>partial templates</strong> included into the layout template (<i>index.html</i>), 
			depending on the current route (the view currently displayed by the user).</li>
		<li>Routes are declared via the <i>$routeProvider</i>, which wires together
			<strong>urls</strong>, <strong>view templates</strong> and <strong>controllers</strong>.</li>
		<li>Used in conjunction with the <i>ngView</i> directive, which includes the template for
			the current route in the layout.</li>
        <li>The <strong>ui-router</strong> service from <strong>angular-ui</strong> librairies provides advanced features than ngRoute
            (nested state & view) <a href="https://github.com/angular-ui/ui-router" target=”_blank”>Home Page</a> (see wiki and api):
        </li>
        <li>
        	A new router implementation will come soon:
        	<a href="http://angular.github.io/router/getting-started" target="_blank">ngNewRouter</a>
        </li>
	</ul>


</div>