<div>
	<h1>Before were the multi-pages apps...</h1>

	<ul class="horizontal-split">
		<li>
			<ul>
				<li>Downloading pages...</li>
				<li>Rendering page...</li>
				<li>Loading external resources...</li>
				<li>Executing scripts...</li>
			</ul>
			<p><b>We want smooth user experience!</b></p>
		</li>
		<li>
			<ul class="vertical-items">
				<li><img src="data/imgs/loading.jpg" width="280" class="back-image" /></li>
				<li><img src="data/imgs/loading_bis.jpg" width="280" class="back-image" /></li>
			</ul>
		</li>
	</ul>
</div>