<div>
	<h1>Before were the multi-pages apps...</h1>

	<ul class="horizontal-split">
		<li>
			<ul>
				<li>Client Ajax engine has to reflect back to the server any
					interaction state changes, deferring data handling, UI state
					management and UI update logic to the server.</li>
				<li>With Components Oriented Frameworks : coding effort is
					around <b>20% JS/80% Java</b>.</li>
			</ul>			
		</li>
		<li>
			<img src="data/imgs/multi_page_web_app.png" class="back-image" width="520" />
		</li>
	</ul>	


</div>