<div>

	<h1>Isolate scope attributes</h1>
	<ul>
		<li><i>=</i> or <i>=propertyName</i>: Two-way data binding between a parent scope
			property and a local scope property</li>
	</ul>

	<ul
		style="margin-bottom: 50px"
		ng-init="
			ids=['zh1bwozs/1/']; 
			imgs=['local5'];
			displayLinks= {};
		"
	>
		<li ng-repeat="img in imgs" style="display:inline-block">
			<ul 
				class="sublinks" ng-show="displayLinks[img]"
				ng-mouseenter="displayLinks[img]=true"
				ng-mouseleave="displayLinks[img]=false"
			>
				<li ><a ng-href="data/imgs/binding/{{img}}.jpg" target="_check">as image</a></li>
				<li ><a ng-href="http://jsfiddle.net/{{ids[$index]}}" target="_blank">as fiddle</a></li>
			</ul>
			<img 
				style="width: 200px; height: 200px; margin: 5px;" 
				ng-src="data/imgs/binding/{{img}}.jpg"
				ng-mouseenter="displayLinks[img]=true"
				ng-mouseleave="displayLinks[img]=false"
			>	
			</img>
		</li>
	</ul>	

</div>