<div>

	<h1>The <i>priority</i> and <i>terminal</i> attributes</h1>

	<ul>
		<li><i>priority</i>: Used to specify in which order the directives are applied on an 
			element. Those with greater priority are compiled first. Default value is <i>0</i>.</li>
		<li><i>terminal</i>: If set to <i>true</i>, all other directives 
			with lesser <i>priority</i> will not be compiled.</li>
	</ul>
		
<sdco-editor compile="false" js-fiddle="true">
	<sdco-editor-tab type="javascript" heading="priority.js">
angular.module('app',[]).directive('priorityTest', function () {
    return {
		priority: 10,
		link: function (scope, elem, attrs) {
			console.log("Directive priorityTest has been compiled!");
		}
    };
})
.directive('priorityTestBis', function () {
    return {
		priority: 20,
		terminal: true,
		link: function (scope, elem, attrs) {
			console.log("Directive priorityTestBis has been compiled!");
		}
    };
});</sdco-editor-tab>
<sdco-editor-tab type="html" heading="priority.html">
&lt;span priority-test priority-test-bis&gt;Let's create a directive!&lt;/span&gt;
</sdco-editor-tab>
</sdco-editor>

</div>