<div>

	<h1>And many more</h1>
	<ul>
		<li><i>ngDisabled</i>: Makes the button enabled/disabled.</li>
		<li><i>ngReadOnly</i>: Makes the input read only.</li>
		<li><i>ngInclude</i>: Fetches, compiles and includes an external HTML fragment.</li>
		<li><i>ngBind</i>: Replaces the text content of the specified HTML element with 
			the value of a given expression. Same as {{expression}}. Useful to hide bindings while the page is loading.</li>
		<li><i>ngCloak</i>: Prevents the HTML template from being briefly displayed by the 
			browser in its raw/uncompiled form while your application is loading.</li>
		<li><i>ngBindHtmlUnsafe</i>: Creates a binding that will <i>innerHTML</i>
			the expression result.</li>
		<li><i>ngHref</i>: Used instead of <i>href</i>.</li>
		<li>...</li>
	</ul>
</div>