<div>

	<h1>What is a directive?</h1>

	<ul>
        <li>Directives are markers on a DOM element. They can be</li>
        <ul>
            <li>attribute, element name and CSS class</li>
        </ul>
        <li>
        	"Directives are the coolest feature on Angular... 
        	They teach Browser new Tricks" - <i>Misko Hevery</i> 
        </li>
		<li>
			Directives are used to make <strong>custom HTML elements</strong> and 
			<strong>simplify DOM manipulation</strong>.
		</li>
		<li>
			They can modify the behavior of new and existing DOM elements, by 
			<strong>adding them features</strong> (<i>datepicker</i>, <i>autocomplete</i>, ...).
		</li>
		<li>
			Angular comes with its own set of <a href="http://docs.angularjs.org/api/ng/directive" target="_blank">built-in directives</a>,
			as well as the ability to add your own ones.
		</li>
	</ul>
</div>