<div>

	<h1>Practical Work</h1>

	<ol>
		<li>Get and install <a href="http://nodejs.org/" target=”_blank”>Node.js</a>.</li>
		<li>Get following <a href="data/ecommerce.zip" target=”_blank”>AngularJS application skeleton</a>.</li>
		<li>Extract the archive on your filesystem</li>
		<li>In your project directory, open a new console and execute these commands:</li>
		<ul>
			<li><strong>npm install</strong>: Install server side dependencies</li>
			<li><strong>npm install -g bower</strong>: Install bower globally</li>
			<li><strong>bower install</strong>: Install client side dependencies</li>
			<li><strong>node server</strong>: Run a server to access the application</li>
		</ul>
		<li> <strong> remark: </strong> If you have to set the proxy, then define HTTP_PROXY and HTTPS_PROXY environment variables </li>
		<li>Product description page is handled by two files: the template <i class="text-red">detail.html</i> and 
			the controller <i class="text-red">DetailController.js</i>. Use the Angular two way binding to fill the
			template with the product informations.</li>
		<li>Test your application at following url: <a href="http://localhost:3000/#/book/1" target=”_blank”>http://localhost:3000/#/book/1</a></li>
	</ol>
</div>