<div>

    <h1>Mobile Apps</h1>
	<ul>
        <li> 
            You can find several "minor" solutions, based on specific angularjs modules,
            allowing to manage  stuff like 
            <i>Tap</i>, <i>DoubleTap</i>, <i>Swipe</i>, <i>Drag,</i> <i>Pinch</i>, <i>Rotate</i>
            on your webapps
        </li>
		<li>
            Ionic, a famous growing framework for hybrid mobile apps which includes Angular:
            <a href="http://ionicframework.com/" target="_blank">Ionic Framework</a>
        </li>
        <li>
            <strong>Angular2</strong> which is currently being designed, pay particular attention to Mobile.
        </li>

	</ul>
</div>