<div>

  <h1> Grunt VS Gulp </h1>

  <img src="data/imgs/grunt.png" width="100" />
  <img src="data/imgs/gulp.png" width="100" />

  <ul>
    <li>
      Are both task runners to manage your project and automate repetitive tasks
      such as 
      <ul>
        <li><span>minification</span></li>
        <li><span>compilation</span></li>
        <li><span>unit testing</span></li>
        <li><span>documentation</span></li> 
        <li> etc ...</li>
      </ul>
    </li>
    <li>
      There is not a definitive answer to make your choice, they have globally the same functionalities
    </li>
    <li>
      Are both based on plugins
    </li>
    <li>
      <strong>Grunt</strong> is more based on static configuration when
      <strong>Gulp</strong> is more based on a runtime process
    </li>
  </ul>

</div>