<div>
	<h1>What makes AngularJS so fun to use?</h1>
	<ul class="horizontal-split">
		<li>
			<ul>
				<li>Many useful features:</li>
				<ul>
					<li>Easy <strong>two-way data binding</strong>.</li>
					<li><strong>Declarative</strong> approach.</li>
					<li>Architecture patterns (<strong>MVC</strong>, <strong>DI</strong>).</li>
					<li><strong>Routing</strong> and <strong>templating</strong>.</li>
				</ul>
				<li>More HTML, less JS:</li>
				<ul>
					<li><strong>Enhance HTML</strong> to support new features.</li>
					<li><strong>Minimize</strong> direct DOM manipulation.</li>
				</ul>
				<li><strong>Testing</strong> isn't an after-thought.</li>
			</ul>
		</li>
		<li>
			<img src="data/imgs/happy_developer.gif" width="400" class="back-image" />
		</li>
	</ul>
<p contenteditable></p></div>