<div>

	<h1>Setting up your unit tests with Karma</h1>

	<ul>
		<li><strong>Karma</strong> is a <strong>javascript test runner</strong>, which runs on <strong>Node.js</strong>.</li>
		<li>Works by opening <strong>each browser specified in its configuration file</strong>,
			and by running Javascript tests in these browsers.</li>
		<li>Communication between Karma and each of the browsers is handled with a service
			running in the terminal using <strong>socket.io</strong>.</li>
		<li>Very <strong>fast</strong>!!!</li>
		<li> 
			Installation doc:
			<a href="http://karma-runner.github.io/0.12/intro/installation.html" target="_blank"> here </a>
		</li>
		<li> 
			Configuration doc:
			<a href="http://karma-runner.github.io/0.12/intro/configuration.html" target="_blank"> here </a>
		</li>
		<li>
			You can also have a look at the PW project to have an exemple of integration with <strong>grunt</strong>
		</li>

	</ul>

<img src="data/imgs/karma.png" width="300" /></div>