<div class="bloc-content text-content">
	<ul>
		<li><i class="text-red">=</i> or <i class="text-red">=propertyName</i>: Two-way data binding between a parent scope
			property and a local scope property.</li>
	</ul>

	<ul
		ng-init="ids=['zh1bwozs/1/']; imgs=['local5.jpg']"
	>
		<li ng-repeat="img in imgs" style="display:inline-block">
			<a
				ng-href="http://jsfiddle.net/{{ids[$index]}}"
				target="_blank"
			>
				<img 
					style="width: 200px; height: 200px; margin: 5px;" 
					ng-src="images/binding/{{img}}"
				/>
			</a>
		</li>
	</ul>	

<p contenteditable></p></div>