<div>

	<h1>provider()</h1>
	<ul>
		<li>
			The most advanced way to register a service factory, 
			using <code>module.provider(name, providerType)</code>
		</li>
		<li>Parameter <i>name</i> is the name of the service, without the <i>Provider</i> suffix.</li>
		<li>Parameter <i>providerType</i> can be either an object or a function, and represents the service provider.</li>
		<li>
			Also the more complex to understand
		</li>
		<li>This object/function has to have a <i>$get</i> function, which will return a service instance</li>
	</ul>


	<img src="data/imgs/providers.png" />
</div>