<div>

	<h1>Practical Work</h1>

	<ol>
		<li>We will now handle the login functionality in our <i>ecommerce</i> application. Files to
			edit are the template <i>login.html</i> and its controller 
			<i>LoginController.js</i>.</li>
		<li>Inject the <i>$http</i> service and use the route
			<i>/api/login (post : {login:'login',password:'password'})</i>.</li>
		<li>If the <i>$http</i> service returns an error when trying to load the json file,
			use the <i>$log</i> service to log an error in the console.</li>
		<li>Use the service <i>$location</i> to redirect the user to the main page if needed</li>
		<li>When the user is successfully logged, use the <i>$cookieStore</i> service to save the 
			user instance</li>
	</ol>
	
</div>