<div>

	<h1> Form Validation - attributes </h1>

	<p>
		Angular provides interesting out of the box functionalities to help you validate forms,
		typically by providing attributes and functions in the scope.
		Below are the attributes.
	</p>

	<ul>
		<li><i>myForm.email.$pristine</i>: <i>True</i> if the user has not yet modified the element.</li>
		<li><i>myForm.email.$dirty</i>: <i>True</i> if the user has already modified the element.</li>
		<li><i>myForm.email.$valid</i>: <i>True</i> if the element validation has been successful.</li>
		<li><i>myForm.email.$invalid</i>: <i>True</i> if the element has validation errors.</li>
		<li><i>myForm.email.$error</i>: This object contains one property for each validation rule
			on the element. The value of the property is <i>true</i> if the rule has not been validated.</li>
	</ul>

</div>