<div>

	<h1> Security Concerns </h1>
	
	<ul>
		<li>
			Built-in protection from basic security holes, including 
			<span>cross-site scripting</span> and <span>HTML injection attacks</span>
			(ie. <i>$sanitize</i> service).
		</li>
		<li><span>XSRF protection</span> for server-side communication.</li>
		<li>
			Designed to be compatible with other security measures like Content 
			Security Policy (CSP), HTTPS (SSL/TLS) and server-side authentication and authorization.
		</li>
        <li>
        	Read this : 
        	<a href="http://docs.angularjs.org/api/ng/service/$http#security-considerations" target="_blank">
        		security-considerations
        	</a>
        </li>
	
		<li>SDCO recommend the use of RestEasy for Backend and XA-RM3 (Based on SHIRO) for Auth & Right Management</li>
	</ul>
</div>
